<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <title>主页</title>
    <meta name ="description" content="电子商务网站"/>
    <meta name="keywords" content="电子商务"/>
    <meta name="author" content="Adminstrator"/>
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="__STATIC__/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="__STATIC__/css/font-awesome.min.css "/>
    <!-- Slider -->
    <link rel="stylesheet" type="text/css" href="__STATIC__/css/owl.carousel.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="__STATIC__/css/owl.theme.css" media="screen"/>
    <!-- Stylesheet -->
    <link rel="stylesheet" type="text/css" href="__STATIC__/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="__STATIC__/css/response.css"/>
</head>
<body>

<!-- Header Begin -->
<nav id="tf-menu" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toogle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="index.html" class="navbar-brand">ZNLCCY公司</a>
        </div>

        <!-- Collect the nav links,form,and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#tf-home" class="page-scroll">主页</a></li>
                <li><a href="#tf-about" class="page-scroll">关于</a></li>
                <li><a href="#tf-team" class="page-scroll">团队</a></li>
                <li><a href="#tf-services" class="page-scroll">服务</a></li>
                <li><a href="#tf-works" class="page-scroll">作品</a></li>
                <li><a href="#tf-testimonials" class="page-scroll">证书</a></li>
                <li><a href="#contact" class="page-scroll">联系</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- Header End -->

<!-- Home Page Begin -->
<div id="tf-home" class="text-center">
    <div class="overlay">
        <div class="content">
            <h1>欢迎来到<strong><span class="color">znlccy公司</span></strong></h1>
            <p class="lead">我们有多年的<strong>开发经验</strong>和<strong>人才储备</strong></p>
            <a href="#tf-about" class="fa fa-angle-down page-scroll"></a>
        </div>
    </div>
</div>
<!-- Home Page End -->

<!-- About Us Begin -->
<div id="tf-about">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="__STATIC__/images/02.png" class="img-responsive">
            </div>
            <div class="col-md-6">
                <div class="about-text">
                    <div class="section-title">
                        <h4>关于我们</h4>
                        <h2>一些词汇<strong>关于我们</strong></h2>
                        <hr>
                        <div class="clearfix"></div>
                    </div>
                    <p class="intro">

                    </p>
                    <ul class="about-list">
                        <li>
                            <span class="fa fa-dot-circle-o"></span>
                            <strong>任务</strong>-<em>我们致力与服务质量</em>
                        </li>
                        <li>
                            <span class="fa fa-dot-circle-o"></span>
                            <strong>技能</strong>-<em>开发更快和优秀结果</em>
                        </li>
                        <li>
                            <span class="fa fa-dot-circle-o"></span>
                            <strong>客户</strong>-<em>统计客户对我们的感谢</em>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About Us End -->

<!-- Team Page Begin -->
<div id="tf-team" class="text-center">
    <div class="overlay">
        <div class="container">
            <div class="section-title center">
                <h2>参观<strong>我们团队</strong></h2>
                <div class="line">
                    <hr>
                </div>

                <div id="team" class="owl-carousel owl-theme row">
                    <div class="item">
                        <div class="thumbnail">
                            <img src="__STATIC__/images/team/01.jpg" alt="..." class="img-circle team-img">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Team Page End -->

<script type="text/javascript" src="__STATIC__/js/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="__STATIC__/js/bootstrap.min.js"></script>
</body>
</html>